.menu{
  width:260px;
  display:flex;
  flex-direction:column;
  gap:18px;
}

.app-card{
  background:linear-gradient(145deg,#0aa2ff,#0066ff);
  border-radius:22px;
  padding:20px 15px;
  text-align:center;
  text-decoration:none;
  color:white;
  box-shadow:0 15px 35px rgba(0,0,0,.5);
  transition:.35s;
}

.app-card:hover{
  transform:translateY(-6px) scale(1.03);
  box-shadow:0 25px 50px rgba(0,0,0,.7);
}

.icon{
  font-size:42px;
  margin-bottom:10px;
}

.title{
  font-size:15px;
  font-weight:700;
  letter-spacing:1px;
}
