body{
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f2027;
  font-family:Arial;
}

.apps{
  width:280px;
  display:flex;
  flex-direction:column;
  gap:22px;
}

.lux-btn{
  height:110px;
  border-radius:28px;
  background:linear-gradient(145deg,#1ec9ff,#005eff);
  text-decoration:none;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  box-shadow:0 25px 50px rgba(0,0,0,.6);
  transition:.4s;
}

.lux-btn:hover{
  transform:translateY(-8px) scale(1.04);
}

.lux-icon{
  font-size:46px;
  margin-bottom:8px;
}

.lux-btn span{
  font-size:14px;
  font-weight:bold;
  letter-spacing:1.2px;
}
